<div *ngIf="visible; else notEnable">
  <h3>{{title}}</h3>
</div>

<button (click)="setvisible()">
  {{visible? 'ocultar' :'Mostrar'}}
</button>

<div *ngIf="visible">
  <table *ngIf="(user != undefined && user.length > 0) else isEmpty">
    <thead>
      <tr>
        <th>id</th>
        <th>Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let users of user; let i=index">
        <td>{{i}}</td>
        <td>{{users}}</td>
      </tr>
    </tbody>
  </table>
  <ng-template #isEmpty>
    <div>
      No existe Registro en el sistema
    </div>
  </ng-template>
</div>
<ng-template #notEnable>
  <div>
    <h2>lo sentimos no esta disponible la pagina!</h2>
  </div>
</ng-template>

